[profile.release]
debug = true
rustflags = ["-C", "target-cpu=native"]

[workspace]
resolver = "3"
members = [
	"utils",
    "day01",
    "day02",
    "day03",
    "day04",
    "day06",
    "day07",
    "day08",
    "day09",
    "day10",
]
